.content {
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 780px;
}

@media (min-width: 1200px) {
    .content {
        max-width: 1000px;
    }
}

.item {
    margin: 0 auto 30px;
    min-width: 29%;
    overflow: hidden;
}

.item:hover {
    cursor: pointer;
}

.item img {
    transition: 1s;
    width: 100%;
}

.item:hover img {
    transform: scale(0.9);
}

.loading {
    align-items: center;
    display: flex;
    height: 400px;
    justify-content: center;
    width: 100%;
}

.loading img {
    height: 150px;
    width: 150px;
}
