.header {
    align-items: center;
    display: flex;
    font-family: Roboto Condensed;
    font-size: 36px;
    height: 81px;
    justify-content: center;
    line-height: 42px;
    text-transform: uppercase;
}
