.footer {
    align-items: center;
    border-top: 1px solid #CCCCCC;
    color: #CCCCCC;
    display: flex;
    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    height: 57px;
    justify-content: center;
    line-height: 16px;
    text-transform: uppercase;
}
